@font-face {
  font-family: 'QEDaveMergens'; 
  src: local('QEDaveMergens'), 
       url('./fonts/QEDaveMergens.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

#root {
  display: flex;               
  justify-content: center;    
  align-items: center;        
  height: 100vh;              
  text-align: center; 
}

* {
  font-family: 'QEDaveMergens';
}
