.leave-screen {
  width: 100vw;
  height: 102vh;
  background-image: url('./assets/red-alarm.gif');
  background-color: black;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.leave-text {
  font-size: clamp(3rem, 10vw, 10rem); /* responsive text */
  color: white;
  font-weight: 700;
  text-align: center;
}
